<!-- Work Experience -->
<div class="mb-5 py-1x ps-lg-3x d-flex flex-column justify-content-center" id="experience">
    <h1>Experience</h1>
    <ul class="list-unstyled">
        {% for e in experience %}
        <div class="mb-3">
            <li class="fs-md-1rem ldt">{{ e.time_frame }}</li>
            <li class="company fs-md-2rem fs-lg-2rem">{{ e.job_title }}</li>
            <li class="ldt fs-md-1rem fs-lg-1rem">
                {% for c in e.company.all %}
                    {{ c.name }}
                {% endfor %}
            </li>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>