<!-- Introduction -->
<div class="mb-5 py-1x ps-lg-3x d-flex flex-column justify-content-center col-lg-11" id="summary">
    <p class="ldt fs-md-1rem fs-lg-1rem">{{ s.desired_job }}</p>
    <div class="d-flex flex-row align-items-center mb-3">
        <div class="col-md-2">
            <img src="{{ s.image.url }}" alt="Avatar" class="rounded-circle img-fluid m-3">
        </div>
        <div class="col-md-8 ms-5">
            <h1 class="text-uppercase">I live in<br><span class="location">{{ s.location }}</span></h1>
        </div>
    </div>
    <p class="fs-md-2rem fs-lg-2rem">{{ s.objective }}</p>
</div>
