<!-- Introduction -->
<div class="container" id="summary">
    <p>{{ s.intro }}</p>
    <div class="row mb-3">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img src="{{ s.image.url }}" alt="Avatar" width="30%" height="30%" class="rounded-circle img-fluid">
        </div>
        <div class="col-9">
            <h1 style="font-family: {% for h in f.header_font.all %}'{{ h.family_name }}', {{ h.serif_type }}{% endfor %};font-size: {{ f.header_font_size }};font-weight: {{ f.header_font_weight }};">I live in<br><span style="font-size: 2.35rem;">{{ s.location }}</span></h1>
        </div>
    </div>
    <div class="row">
        <p>{{ s.objective }}</p>
    </div>
</div>
