<!DOCTYPE html>
<html lang="en">

<head>
    
    {% block header %} 
        {% include 'layout/header.html'%} 
    {% endblock %}

</head>

<body style="font-family: {% for h in f.font.all %}'{{ h.family_name }}', {{ h.serif_type }}{% endfor %};font-size: {{ f.font_size }};">

    <div class="d-flex flex-column h-100">
        <div class="h-100">

        {% block navbar %}
            {% include 'layout/navbar.html'%}
        {% endblock %}

        <div class="ps-3x pe-1x">

        {% block summary %}
            {% include 'layout/objective.html'%}
        {% endblock %}

        {% block body %}
            {% include 'layout/experience.html'%}
        {% endblock %}

        {% block acheivements %}
            {% include 'layout/achievements.html'%}
        {% endblock %}

        {% block skills %}
            {% include 'layout/skills.html'%}
        {% endblock %}

        {% block references %}
            {% include 'layout/references.html'%}
        {% endblock %}

        </div>

        <div class="mx-2x">

        {% block footer %}
            {% include 'layout/social-menu.html'%}
        {% endblock %}

        </div>

        <!-- Vendor JS -->
        {% block venderJs %}
            {% include 'layout/venders.html'%}
        {% endblock %}

        </div>
    </div>

</body>
</html>