i {
    font-size: inherit;
}

h1 {
    font-size: 3.25rem;
}


footer p {
    margin-bottom: 0!important;
}

.bg-cover {
    /* Make the background image cover the entire div */
    background-size: cover;
}

.bg-no-repeat {
    /* Prevent the background image from repeating */
    background-repeat: no-repeat;
}

.mt-2x {
    margin-top: 20%!important;
}

.mb-2x {
    margin-bottom: 20%!important;
}

.mx-2x {
    margin-left: 20%!important;
    margin-right: 20%!important;
}

.pt-1x {
    padding-top: 10%;
}

.pe-1x {
    padding-right: 15%!important;
}

.px-1x {
    padding-left: 10%;
    padding-right: 10%;
}

.ps-3x {
    padding-left: 30%!important;
}

.pt-3x {
    padding-top: 30%; 
}

.py-1x {
    padding-right: 15%!important;
    padding-left: 15%!important;
}

.name {
    font-size: 2.5rem;
}

.company {
    font-weight: 700
}

/* Mobile Menu Styles (visible on small screens) */
.mobile-menu {
    display: none!important; /* Hide mobile menu by default */
}
  
/* Hamburger Button Styles */
.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* hamburger */
.checkbox {
    display: none;
}
  
.button {
    position: relative;
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 80vh; 
    right: 5vw; 
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center; 
    cursor: pointer;
}

.nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 1rem;
    font-size: 36px;
}

.link:link,
.link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
    );
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover,
.link:active {
    color: lightgreen;
    cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
    transform: scale(80);
}
.checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.8rem;
}
.icon::after {
    top: 0.8rem;
}

.button:hover icon:before {
    top: -1rem;
}
.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked + .button .icon {
    background-color: transparent;
}

.checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.nav-bg {
    background-color: #00B8D2;
}

.ml {
    font-size: 5rem!important;
    color: white;
    padding-bottom: 5%;
}


@media (min-width: 992px) {
    
    .fs-lg-1rem {
        font-size: 1.15rem!important;
    }

    .fs-lg-2rem {
        font-size: 1.5rem!important;
    }

    .ps-lg-3x {
        padding-left: 28%!important;
    }

    .mobile-title {
        display: none!important;
    }

    .desktop-footer {
        display: flex!important;
    }
}

@media (max-width: 991.5px) {

    .fs-md-1pt5rem {
        font-size: 1.5rem!important;
    }

    .fs-md-1rem {
        font-size: 1.75rem!important;
    }

    .fs-md-2rem {
        font-size: 2.25rem!important;
    }

    .pt-md-1x {
        padding-top: 6%;
    }

    #desktop-menu {
        display: none!important;
    }

    .desktop-footer {
        display: none!important;
    }
    
    .mobile-menu {
        display: block!important;
    }
    
}