a, p, li {
    font-size: 1.5rem;
}

.bg-cover {
    /* Make the background image cover the entire div */
    background-size: cover;
}

.bg-no-repeat {
    /* Prevent the background image from repeating */
    background-repeat: no-repeat;
}

.mt-2x {
    margin-top: 20%!important;
}

.mb-2x {
    margin-bottom: 20%!important;
}

.mx-2x {
    margin-left: 20%!important;
    margin-right: 20%!important;
}

.pe-1x {
    padding-right: 15%!important;
}

.ps-3x {
    padding-left: 30%!important;
}

.py-1x {
    padding-right: 15%!important;
    padding-left: 15%!important;
}

@media (min-width: 992px) {
    .ps-lg-3x {
        padding-left: 28%!important;
    }
}

@media (min-width: 768px) {
    .fs-md-2rem {
        font-size: 2.25rem;
    }
}